:root {
    --red: #c72000;
    --green: #5ea362;
    --highlight: #C2A3B0;
    --grey: #56524d;
    --background: #09090b;
    --color: #e6dbd3;
    --red-trans:rgba(199, 32, 0, 0.6);
    --green-trans: rgba(94, 163, 98, 0.6);
    --purple-trans: rgba(122, 82, 99, 0.6);
    --grey-trans: rgba(86, 82, 77, 0.6);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--color);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.splash {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('/static/logo.svg');
    background-size: cover;
    background-position: top center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash h1 {
    max-width: 90vw;
    text-align: center;
    font-size: min(10vw, 4rem);
}

.splash h2{
    font-size: min(7vw, 1.5rem);
}

.splash p, .splash label {
    text-align: center;
    display: block
}

input, button {
    background: var(--background);
    color: var(--color);
    border: var(--grey) 4px solid;
    outline: none;
    margin: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}

#query-form label{
    display: block;
    margin: 0.5rem 0;
    font-weight: 600;
}

.reset {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--background);
    color: var(--color);
    border: var(--grey) 4px solid;
    padding: 0.5rem;
    text-decoration: none;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 75vw;
}

input {
    flex: 1;
    width: 100%;
}

button {
    cursor: pointer;
}

#home-page > article:nth-child(2) > h1:nth-child(1) {
    display: none;
}

article {
    max-width: 60ch;
    margin: 3rem;
}

a {
    color: var(--highlight);
}

#loading-page .splash{
    animation: pulse 2s infinite linear;
}

#loading-page h1::after {
    content: '';
    animation: loadingDots 2s infinite steps(5, end);
    display: inline-block;
    text-align: left;
    width: 2ch;
}

@keyframes loadingDots {
    0% {
        content: '';
    }
    20% {
        content: '.';
    }
    40% {
        content: '..';
    }
    60% {
        content: '...';
    }
    80% {
        content: '';
    }
}

@keyframes pulse {
    0%{
        background-color: var(--grey);
    }
    50%{
        background-color: var(--grey-trans);
    }
    100%{
        background-color: var(--grey);
    }
}


table{
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--grey);
}

td {
    text-wrap: wrap;
    max-width: 40%;
    word-wrap: anywhere;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--background);
    color: var(--color);
    font-size: 0.8rem;
}

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.scroll-down svg{
    width: 5rem;
    height: 5rem;
    fill: var(--color);
    animation: scrollDown 1s infinite;
}

.scroll-down p{
    margin: 0;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
