<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PigeonVision</title>
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/static/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/static/site.webmanifest" rel="manifest">
    <link href="/{{slug}}-style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
    <script>
        const SITEKEY = "{{ turnstile_site_key }}";
        const DEV = JSON.parse('{{ dev }}');
    </script>
</head>
<body>
<main id="home-page" style="display: flex">
    <div class="splash" style="background-color: var(--purple-trans)">
        <h1>
            PigeonVision
        </h1>
        <p>
            Analyse artefacts to determine how likely they are to be malicious.
        </p>
        <form id="query-form">
            <label>Enter an Email Address, Domain, IP Address, or File Hash</label>
            <div class="input">
                <input id="query-input" name="query-input" placeholder=""
                       type="text" autofocus>
                <button id="query-submit" type="submit">
                    Go
                </button>
            </div>
            <div id="turnstile"></div>
        </form>

        <p style="max-width: 75vw;">
            <b>WARNING: this tool queries third-party services and WILL expose your query to them.
                DO NOT use this tool with sensitive information or data you do not want to share.
                <br>
                The information and analysis provided may be inaccurate or incomplete, do not rely on it for critical
                decisions.
            </b>
        </p>
        <div class="scroll-down">
            <p>Scroll down for more info.</p>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <polyline fill="none" points="6,9 12,15 18,9" stroke="var(--color)" stroke-linecap="butt"
                          stroke-linejoin="miter" stroke-width="2"/>
            </svg>
        </div>
    </div>
    <article>
        {{ readme_html|safe }}
    </article>
</main>
<main id="loading-page">
    <div class="splash">
        <h1>Loading</h1>
        <p>
            Please wait while we load the data and analyze it.
        </p>
    </div>
</main>
<main id="error-page">
    <div class="splash" style="background-color: var(--red-trans)">
        <a class="reset" href="/">← Fly home</a>
        <p id="error-message">Some error message</p>
    </div>
</main>
<main id="results-page">
    <div class="splash" id="results-splash">
        <a class="reset" href="/">← Fly home</a>
        <h1 id="summary">summary</h1>
        <h2 id="query-string">query</h2>
        <div class="scroll-down">
            <p>Scroll down for more info.</p>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <polyline fill="none" points="6,9 12,15 18,9" stroke="var(--color)" stroke-linecap="butt"
                          stroke-linejoin="miter" stroke-width="2"/>
            </svg>
        </div>
    </div>
    <article id="more">
        This is some more info
    </article>
</main>
<main id="pigeon-page">
    <div class="splash">
        <a class="reset" href="/">← Fly home</a>
    </div>
</main>
<footer>
    <p>
        PigeonVision is a project by <a href="https://m4x.uk">Max Friedrich</a> and <a href="https://blog.tom-blue.co">Tom
        Blue</a>.
        The source code is available on <a href="https://github.com/MaxAFriedrich/PigeonVision">GitHub</a> under the
        <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">LGPL-3.0 license</a>.
</footer>
<script src="/{{slug}}-script.js"></script>
</body>
</html>
