<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PigeonVision</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main id="home-page" style="display: flex">
    <div class="splash" style="background-color: var(--purple-trans)">
        <h1>
            PigeonVision
        </h1>
        <p>
            Analyse artefacts to determine how likely they are to be malicious.
        </p>
        <form id="query-form">
            <div class="input">
                <input type="text" id="query-input" name="query-input"
                       placeholder="Enter an Email Address, Domain, IP Address, or File Hash">
                <button type="submit" id="query-submit">
                    Go
                </button>
            </div>
        </form>

        <p style="max-width: 75vw;">
            <b>WARNING: this tool queries third-party services and WILL expose your query to them.
                DO NOT use this tool with sensitive information or data you do not want to share.
                <br>
                The information and analysis provided may be inaccurate or incomplete, do not rely on it for critical
                decisions.
            </b>
        </p>
    </div>
    <article>
        {{ readme_html|safe }}
    </article>
</main>
<main id="loading-page">
    <div class="splash">
        <h1>Loading</h1>
        <p>
            Please wait while we load the data and analyze it.
        </p>
    </div>
</main>
<main id="error-page">
    <div class="splash" style="background-color: var(--red-trans)">
        <a class="reset" href="/">← Fly home</a>
        <p id="error-message">Some error message</p>
    </div>
</main>
<main id="results-page">
    <div class="splash" id="results-splash">
        <a class="reset" href="/">← Fly home</a>
        <h1 id="summary">summary</h1>
        <h2 id="query-string">query</h2>
        <p>Scroll down for more information.
        </p>
    </div>
    <article id="more">
        This is some more info
    </article>
</main>
<footer>
    <p>
        PigeonVision is a project by <a href="https://m4x.uk">Max Friedrich</a> and <a href="https://blog.tom-blue.co">Tom
        Blue</a>.
        The source code is available on <a href="https://github.com/MaxAFriedrich/PigeonVision">GitHub</a> under the
        <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">LGPL-3.0 license</a>.
</footer>
<script src="/static/script.js"></script>
</body>
</html>
